
h1{
	border-bottom: gray solid 3px;
	font-family: 'Contrail One', cursive;
	margin-left:1.66%;
	font-size:21px;
	text-transform: uppercase;
	width: 30%;
	padding-bottom: 15px;
}
h2{
	max-width: inherit;
}

body {
	padding-top: 70px;
}
#body{
	background-color: #e6e6e6;
}
.thumbnail-style{
	background-color: "red";
}
.container-fluid{
	width: 90%;
}